[Unit]
Description=AccommodateMe ServiceApp
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
EnvironmentFile=/opt/serviceapp/.env
ExecStart=/usr/bin/java -jar /opt/serviceapp/serviceapp.jar --spring.profiles.active=prod
SuccessExitStatus=143
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=serviceapp

[Install]
WantedBy=multi-user.target
