[Unit]
Description=AccommodateMe WebApp
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
EnvironmentFile=/opt/webapp/.env
ExecStart=/usr/bin/java -jar /opt/webapp/webapp.jar --spring.profiles.active=prod
SuccessExitStatus=143
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=webapp

[Install]
WantedBy=multi-user.target
